<div class="header">
    <a class="skip" href="#main">@T("Header.SkipNavigation.Text")</a>
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderBefore })
    <div class="header-upper">
        <div class="header-logo">
            @await Component.InvokeAsync(typeof(LogoViewComponent))
        </div>
        <div class="header-selectors-wrapper">
            @await Component.InvokeAsync(typeof(TaxTypeSelectorViewComponent))
            @await Component.InvokeAsync(typeof(CurrencySelectorViewComponent))
            @await Component.InvokeAsync(typeof(LanguageSelectorViewComponent))
            @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderSelectors })
        </div>
        <div class="header-links-wrapper">
            @await Component.InvokeAsync(typeof(HeaderLinksViewComponent))
            @await Component.InvokeAsync(typeof(FlyoutShoppingCartViewComponent))
        </div>
    </div>
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderMiddle })
    <div class="header-lower">
        <button
            onclick="window.history.back();"
            class="back-button"
            title="Go Back"
            aria-label="Go Back"
        >
            <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0.707 5.427L0.353 5.781L0 5.427L0.353 5.073L0.707 5.427ZM17.207 13.427C17.207 13.5596 17.1543 13.6868 17.0606 13.7806C16.9668 13.8743 16.8396 13.927 16.707 13.927C16.5744 13.927 16.4472 13.8743 16.3534 13.7806C16.2597 13.6868 16.207 13.5596 16.207 13.427H17.207ZM5.353 10.781L0.353 5.781L1.061 5.073L6.061 10.073L5.353 10.781ZM0.353 5.073L5.353 0.072998L6.061 0.780998L1.061 5.781L0.353 5.073ZM0.707 4.927H10.707V5.927H0.707V4.927ZM17.207 11.427V13.427H16.207V11.427H17.207ZM10.707 4.927C12.4309 4.927 14.0842 5.61182 15.3032 6.8308C16.5222 8.04979 17.207 9.70309 17.207 11.427H16.207C16.207 9.96831 15.6275 8.56936 14.5961 7.53791C13.5646 6.50646 12.1657 5.927 10.707 5.927V4.927Z"
                    fill="white"
                />
            </svg>
            <span>Go Back</span>
        </button>
        <div class="shopping-info">
            <div style="display: flex; align-items: center; gap: 0 0.25rem;">
                Shopping Method:<span>In-Shopping, Delivery</span>
            </div>
            <div style="display: flex; align-items: center; gap: 0 0.25rem;">
                <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.10677 13.9286C4.10677 14.478 4.32501 15.0049 4.71348 15.3933C5.10195 15.7818 5.62882 16.0001 6.1782 16.0001C6.72758 16.0001 7.25445 15.7818 7.64292 15.3933C8.03139 15.0049 8.24963 14.478 8.24963 13.9286C8.24963 13.3792 8.03139 12.8524 7.64292 12.4639C7.25445 12.0754 6.72758 11.8572 6.1782 11.8572C5.62882 11.8572 5.10195 12.0754 4.71348 12.4639C4.32501 12.8524 4.10677 13.3792 4.10677 13.9286ZM14.4639 13.9286C14.4639 14.478 14.6822 15.0049 15.0706 15.3933C15.4591 15.7818 15.986 16.0001 16.5353 16.0001C17.0847 16.0001 17.6116 15.7818 18.0001 15.3933C18.3885 15.0049 18.6068 14.478 18.6068 13.9286C18.6068 13.3792 18.3885 12.8524 18.0001 12.4639C17.6116 12.0754 17.0847 11.8572 16.5353 11.8572C15.986 11.8572 15.4591 12.0754 15.0706 12.4639C14.6822 12.8524 14.4639 13.3792 14.4639 13.9286Z" stroke="#808080" stroke-width="1.20833" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.10714 13.9286H2.03571V9.78571M1 1.5H12.3929V13.9286M8.25 13.9286H14.4643M18.6071 13.9286H20.6786V7.71429M20.6786 7.71429H12.3929M20.6786 7.71429L17.5714 2.53571H12.3929M2.03571 5.64286H6.17857" stroke="#808080" stroke-width="1.20833" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span>Deliveries in 20 mins</span>
            </div>
            <div class="contact-phone mobile">
                <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M1.12686 0.808077L8.24241 1.50908L8.92902 7.17872L7.23452 8.56928C8.00242 10.0702 9.08432 11.3882 10.4067 12.4339L12.1012 11.0442L17.5278 12.824L16.8268 19.9395L15.9975 19.8578C12.8043 19.5487 9.7694 18.3201 7.26049 16.3208C5.4104 14.8473 3.89335 12.9987 2.80918 10.8966C1.33795 8.04581 0.725182 4.82946 1.04515 1.6374L1.12686 0.808077Z"
                        fill="#044F48"
                    />
                </svg>
                <a class="contact-phone-link" href="tel:+442071234567">+44 - 2071 - 234567</a>
            </div>
        </div>
        <div class="contact-phone notmobile">
            <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M1.12686 0.808077L8.24241 1.50908L8.92902 7.17872L7.23452 8.56928C8.00242 10.0702 9.08432 11.3882 10.4067 12.4339L12.1012 11.0442L17.5278 12.824L16.8268 19.9395L15.9975 19.8578C12.8043 19.5487 9.7694 18.3201 7.26049 16.3208C5.4104 14.8473 3.89335 12.9987 2.80918 10.8966C1.33795 8.04581 0.725182 4.82946 1.04515 1.6374L1.12686 0.808077Z"
                    fill="#044F48"
                />
            </svg>
            <a class="contact-phone-link" href="tel:+442071234567">+44 - 2071 - 234567</a>
        </div>
    </div>
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderAfter })
</div>
